Ques 1: Create one variable containing following type of data:
 (i) string
 (ii) list
 (iii) float
 (iv) tuple

Answer:
(i) a="hello"
(ii) b=[2,45,'arsh']
(iii)c=8.0
(iv)d=("arsh",1313,"deep")

Ques 2: Given are some following variables containing data:
 (i) var1 = ‘ ‘
 (ii) var2 = ‘[ DS , ML , Python]’
 (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
 (iv) var4 = 1.
 What will be the data type of the above given variable.

Answer:
(i) string
(ii) string
(iii) list
(iv) float

Ques 3: Explain the use of the following operators using an example:
(i) /
(ii) % 
(iii) //
(iv) **

In [ ]:
Answer:                         
(i) a = 11/2      =>  5.5             helps to divide the numbers and can gives values in decimal
(ii) a = 10 % 2   =>  0               gives the remainder of the numbers
(iii) a = 11 // 2 =>  5               helps to divide the numbers but it doesnot gives values in decimal
(iv) a = 10**2    =>  100             it helps to find the no. of power of any number

Ques 4: Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [ ]:
Answer:

In [ ]:
l=["arsh",13,45,18,6,7,True,10.5,"hello",False]
for i in l:
    if type(i)==str:
        print(i,"is of data type",type(i))
    elif type(i)==bool:
        print(i,"is of data type",type(i))
    else:
        print(i,"is of data type",type(i))

Ques 5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [2]:
x=0
A=int(input("enter the number: "))
B=int(input("enter the number: "))
while A>=B:
    if A%B==0:
        print("It is divisible at",B)
        x=x+1
    B=B+1
print("Number of times it is divisible ",x)

enter the number:  102
enter the number:  10

It is divisible at 17
It is divisible at 34
It is divisible at 51
It is divisible at 102
Number of times it is divisible  4

Ques 6: Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [6]:
L=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in L:
    if i==1 or i==2:
        continue
    if i%3==0:
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

immutable:- Immutable Objects are in-built datatypes that can’t be changed after it is created.
Example:-

In [ ]:
t = (0, 1, 2, 3)
t[0] = 4
print(t)

Mutable:-mutable Objects are in-built datatypes that can be changed after it is created
Example:-

In [ ]:
color = ["red", "blue", "green"]
print(color)
 
color[0] = "pink"
color[-1] = "orange"
print(color)